*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(7, 35, 112);
  color: whitesmoke;
  width: 100%
}

a{
  text-decoration: none;
  color:darkgoldenrod;
}

/* navBar */
.main-navbar{
  width: 200px;
  background-color: darkkhaki;
  border-radius: 5px;
}
.main-navbar ul{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-navbar ul li{
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color:darkslateblue;
}
.main-navbar ul li a{
  color: inherit;
}
.main-navbar ul li:hover{
  background-color: darkturquoise;
  color:floralwhite;
  transition: all 400ms ease-in-out;
}

/* main header */
.main-header{
  width: 100%;
  background-color: rgba(189, 183, 107, 0.151);
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}

/* contact page button */
.btn{
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: 1px solid floralwhite;
  padding: 12px 10px;
  font-size: 12px;
}
.btn:hover{
  background-color: black;
  color: pink;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
